
.content-wrapper {
    position:absolute;
    width:100%;
    height:100%;
    overflow: auto;
    display:flex;
    flex-direction: column;
}

.top-box {
    background-color: #666;
    color:#FFF;
    padding: 0.5em;
    line-height: 1.5;
    font-family: "courier new", monospace;
}

.group-info {
    display:flex;
    flex-direction: column;
}

.group-info .title {
    font-size: 1.3em;
    font-weight: bold;
}

.group-info .date {
    font-size:0.8em;
    opacity: 0.5;
}

.group-info .summary {
    font-size:0.9em;
    opacity: 0.7;
}

.trial-listings-wrapper {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.trial-listings {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.trial-listings .entry {
    min-width:220px;
    max-width: 400px;
    width:30%;
    margin: 5px;
    border: 2px solid transparent;
    padding: 0.5em;
    cursor: pointer;
    font-size:0.8em;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.trial-listings .entry:hover {
    border: 2px solid white;
}

.trial-listings .entry-inner {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
}

.trial-listings .summary {
    padding-left: 1.0em;
    font-size: 0.8em;
    opacity: 0.75;
}
